
<p>table works!</p>
<p-table [value]="products" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Sinopsis</th>
      <th>Precio</th>
      <th>Formato</th>
      <th>Género</th>
      <th>Imagen</th>
      <th>Puntuación</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-p>
    <tr>
      <td>{{p.id}}</td>
      <td>{{p.title}}</td>
      <td>{{p.description}}</td>
      <td>{{p.price}}€</td>
      <td>{{p.format}}</td>
      <td>{{p.gender}}</td>
      <td><img [src]="'../assets/img/' + p.image" width="120px"></td>
      <td>{{p.rating}}</td>
      <td>
        <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded"></button>
        <button pButton type="button" icon="pi pi-trash" class="p-button-rounded"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
