<div class="grid">
    <div class="col-4">

        <p-card header="HOME">
            <i class="pi pi-home" style="font-size: 2rem"></i>
        </p-card>
        

        <p-card header="BIENVENIDO">
            <p-avatar image="/assets/img/adri2.png" size="xlarge" shape="circle"></p-avatar><br>
            Este es tu panel de control, desde aquí podrás acceder a tu listado de películas y ver las diferentes
            novedades.
        </p-card>
    </div>

    <div class="col-4">

        <p-card header="LISTADO DE PELÍCULAS">
            <i class="pi pi-home" style="font-size: 2rem"></i>
        </p-card>
        
        <p-card header="Pulsa en el Icono para acceder a tu listado">
            <button pButton type="button" label="Listado" routerLink="/table" class="p-button-warning"></button> <br>
        </p-card>
    </div>
    <div class="col-4">
        <app-calendar></app-calendar>
    </div>
</div>
<div class="grid">
    <div class="col-4">

        <p-card header="RECOMENDACIONES DE LA SEMANA">
            <ul>
                <li>El Último Mohicano</li>
                <img src="../assets/img/adri2.png" alt="Italian Trulli" style="width:50px;height:60px;">
                <li>Titanic</li>
                <img src="../assets/img/adri2.png" alt="Italian Trulli" style="width:50px;height:60px;">
                <li>Jumanji</li>
                <img src="../assets/img/adri2.png" alt="Italian Trulli" style="width:50px;height:60px;">
              </ul>
            <ng-template pTemplate="footer">
              La Próxima semana más
            </ng-template>
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="NOTAS"></p-card><br>
        <textarea pInputTextarea></textarea>

    </div>
    <div class="col-4">
        <p-card header="PRÓXIMOS ESTRENOS">
            Contenido
            <ng-template pTemplate="footer">
                Pie de Página
            </ng-template>
        </p-card>



        <p-card header="Procesos de integración">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</p>
            Texto generado con <a href="https://humoipsum.com/">Hump Ipsum</a>
        </p-card>
    </div>
</div>
